<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/public/css/services.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>

<body>
    <header class="header">
        <div class="headerContent">
            <a href="/startpage" class="previous" id="startpage"><</a>
            <p class="header_text">Выбор услуг</p>
        </div>
    </header>
    <div class="search">
        <input type="text" class="input_text" placeholder="Поиск">
    </div>
  
    <p class="wtd_title">Услуги:</p>
        <div id="services" class="wtd"></div>
        <a href="/employers" type="button" class="btn_next" id="employers">
            Продолжить
        </a>
        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
        <script src="/public/js/fdb_config.js" id="MainScript"></script>
        <script src="/public/js/services.js"></script>
</body>

</html>