@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    height: 100vh;
}
.header{
    padding: 10px 0;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #92a1d1;
}
.main{
    margin-top: 20px;
}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
}
.input_search{
    width: 80%;
    height: 40px;
    outline: none;
    color: white;
    border: 1px lightgrey;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #92a1d1;
}

::placeholder{
    color: whitesmoke;
}
.employers{
    gap: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.emp_item{
    margin: 0 auto;
    border-radius: 10px;
    background-color: #92a1d1;
    
    padding: 10px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.emp_item_chosen{
    border: 2px solid lightblue;
}
.avatar{
    border: 0.5px white solid;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.item_left{
    gap: 20px;
    display: flex;
}
.emp_item a{
    font-size: 20px;
    color: white;
    text-align: center;
    margin: auto 0;
}

.name{
    color: white;
    font-weight: 600;
}
.wtd{
    color: white;

}
.checkbox{
    width: 15px;
    border: none;
    outline: none;
    background-color: #92a1d1;
}
.btn_next{
    cursor: pointer;
    visibility: hidden;
    width: 135px;
    height: 45px;
    left: 50%;
    color: white;
    font-size: 15px;
    position: fixed;
    bottom: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #92a1d1;
    margin-left: -67.5px;
    transition: 0.5s;
    bottom: -200px;
}
.btn_next_up{
    bottom: 20px;
    transition: 0.5s;
    visibility: visible;
}

a {
    text-decoration: none;
    padding: 8px 16px;
  }
  
  a:hover {
    color: lightgrey;
  }
  
  .previous {
    padding-bottom: 10px;
    color: white
  }

  .headerContent{
      display: flex;
      justify-content: space-between;
  }
  
.header_text{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}