*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
    height: 100%;
}
body{
    overflow: hidden;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #120022e9;
}
.header{
    margin-bottom: auto;
    border-bottom: 2px gray solid;
    color: whitesmoke;
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    background-color: rgb(26, 26, 26);
}
.specialist{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 80px;
    margin: 0 auto;
    background-color: rgb(26, 26, 26);
    
    
    border-radius: 10px;
}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 80px;
    margin: 0 auto;
    background-color: rgb(26, 26, 26);
    
    
    border-radius: 10px;
}
.specialist_text{
    color: white;
    font-size: 20px
}
.main{
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%;
}